<a href="https://colab.research.google.com/github/Shailendra079/test_data_admission_prediction/blob/main/Test_data_admission_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
from scipy import stats
stats.chisqprop = lambda chisq,df: chi2.sf(chisq,df)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 2.03. Test dataset.csv to 2.03. Test dataset (1).csv

In [ ]:
data = pd.read_csv('2.03. Test dataset.csv')

In [ ]:
data.head()

    SAT Admitted  Gender
0  1323       No    Male
1  1725      Yes  Female
2  1762      Yes  Female
3  1777      Yes    Male
4  1665       No    Male

In [ ]:
data['Admitted']= data['Admitted'].map({ 'No':0,'Yes':1})

In [ ]:
data['Gender']= data['Gender'].map({ 'Female':0,'Male':1})

In [ ]:
data.head()

    SAT  Admitted  Gender
0  1323         0       1
1  1725         1       0
2  1762         1       0
3  1777         1       1
4  1665         0       1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SAT       19 non-null     int64
 1   Admitted  19 non-null     int64
 2   Gender    19 non-null     int64
dtypes: int64(3)
memory usage: 584.0 bytes

In [ ]:
data['Admitted'].value_counts()

1    13
0     6
Name: Admitted, dtype: int64

In [ ]:
X = data.drop(['Admitted'],axis=1)
y = data['Admitted']

In [ ]:
x = sm.add_constant(X)
reg_log = sm.Logit(y,X)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.400484
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                   19
Model:                          Logit   Df Residuals:                       17
Method:                           MLE   Df Model:                            1
Date:                Fri, 09 Sep 2022   Pseudo R-squ.:                  0.3578
Time:                        07:02:33   Log-Likelihood:                -7.6092
converged:                       True   LL-Null:                       -11.849
Covariance Type:            nonrobust   LLR p-value:                  0.003590
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
SAT            0.0016      0.001      2.175      0.030       0.000       0.003
Gender        -3.1118      1.409     -2.209      0.027      -5.873      -0.350
==============================================================================
"""

In [ ]:
np.exp(-3.1118)

0.044520745830877055

In [ ]:
results_log.pred_table()

array([[ 5.,  1.],
       [ 3., 10.]])

In [ ]:
accuracy = 15/19

In [ ]:
print("Accuracy of the model =" , accuracy)

Accuracy of the model = 0.7894736842105263